@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");

/***************
VARIABLES
***************/
$fontFamily: "Open Sans", sans-serif;
$fontSize: 16px;
$orange: #f8a055;
$black: #221f1a;
$gray: #5a574e;
$green: #988d51;
$white: #fff;
$transition: 0.4s ease;
$padding: 70px 0;
$textShadow: 0 0 2px $black;

/***************
BASIC STYLES
***************/
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.7;
    color: $black;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    display: block;
}
.container {
    width: 80%;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 90%;
    }
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}

/***************
MIXINS
***************/
@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin bgBasic($position: center, $size: cover) {
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;
    height: 80vh;
}
@mixin btn($bgColor) {
    font-family: $fontFamily;
    text-transform: uppercase;
    color: $black;
    background-color: $bgColor;
    letter-spacing: 3px;
    border: none;
    font-size: 0.8rem;
    margin-top: 20px;
    font-weight: 600;
    padding: 15px 30px;
    cursor: pointer;
    transition: $transition;
    &:hover {
        background-color: $green;
    }
}

/***************
NAV
***************/
nav {
    @include flex(space-between, center);
    padding: 15px 0;
    .logo {
        color: $orange;
        font-weight: 800;
        font-size: 2rem;
        line-height: 1;
        @media (max-width:767px) {
            margin: auto;
        }
        span {
            font-weight: 400 !important;
            font-style: italic !important;
            color: $black;
        }
    }
    ul {
        @include flex(space-between, center);
        @media (max-width:767px) {
            margin: auto;
        }
        li {
            margin-left: 60px;
            font-size: 1rem;
            font-weight: 600;
            padding: 10px;
            @media (max-width:767px) {
                margin-left: 15px;
            }
            a {
                color: $black;
                transition: $transition;
                transform: scale(120%);
            }
        }
        li:first-child {
            margin-left: 0px;
        }
    }
}

/***************
INDEX HEADER
***************/
.indexHeader {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .99), rgba(255, 255, 255, .2)), url(img/header.jpg);
    @include bgBasic;
    @media (max-width:767px) {
        height: 60vh;
    }
    article {
        @include flex(center, flex-start, column);
        height: 100%;
        @media (max-width:767px) {
            width: 100%;
        }
        hgroup {
            width: 50%;
            background: linear-gradient(rgba(255, 255, 255, .5));
            padding: 50px;
            @media (max-width:767px) {
                width: 100%;
                padding: 30px;
                text-align: center;
            }
            h1 {
                color: $orange;
                font-size: 3rem;
                text-shadow: 0 0 2px $black;
            }
            h4 {
                font-weight: 400;
            }
            button {
                @include btn($orange);
            }
        }
    }
}

/***************
ABOUT
***************/
.about {
    padding: $padding;
    @include flex(space-between, center);
    article {
        flex: 0 0 48%;
        @media (max-width:767px) {
            flex: 0 0 100%;
        }
        h2 {
            font-size: 3rem;
            font-weight: 800;
            @media (max-width:767px) {
                text-align: center;
            }
            span {
                font-size: 3rem;
                font-weight: 400;
            };
        }
        h3 {
            color: $orange;
            font-size: 5rem;
            text-shadow: 0 0 3px $gray;
        }
        h4 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 30px;
        }
    }
}

/***************
OTHER HEADER
***************/
.otherHeader {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .99), rgba(255, 255, 255, .2)), url(img/header2.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    @include flex(flex-start, center);
    @media (max-width:767px) {
        text-align: center;
    }
    h1 {
        color: $orange;
        font-size: 3rem;
        text-shadow: 0 0 2px $black;
    }
    button {
        @include btn($orange);
    }
}

/***************
PLAN
***************/
.plan {
    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    color: $white;
    @media (max-width:767px) {
        background-position: unset;
    }
    div {
        @include flex(space-between, center);
        padding: $padding;
        article {
            flex: 0 0 45%;
            @media (max-width:767px) {
                flex: 0 0 100%;
            }
            p {
                margin-top: 50px;
            }
            h2 {
                font-size: 3rem;
                margin-bottom: 30px;
            }
        }
    }
}

/***************
ORGANIC
***************/
.organsko {
    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(img/bg2.jpg);
    background-position: center;
    background-size: cover;
    color: $white;
    div {
        @include flex(space-between, center);
        padding: $padding;
        article {
            flex: 0 0 45%;
            @media (max-width:767px) {
                flex: 0 0 100%;
            }
            p {
                margin-top: 50px;
            }
            h2 {
                font-size: 3rem;
                margin-bottom: 30px;
            }
        }
    }
}

/***************
PROIZVODNJA
***************/
.poruci {
    @include flex(space-between, stretch);
    color: $white;
    article {
        @include flex(center, center, column);
        flex: 0 0 33.33%;
        @media (max-width:767px) {
            flex: 0 0 100%;
        }
        h2 {
            font-size: 3rem;
            font-weight: 800;
        }
        p {
            padding: 0 15px;
        }
        button {
            @include btn($white);
        }
    }
    article:last-child {
        background: linear-gradient(rgba(248, 160, 85, .9));
        @media (max-width:767px) {
            padding-top: 20px;
            padding-bottom: 30px;
        }
    }
}

/***************
FOOTER
***************/
footer {
    @include flex(stretch, stretch);
    article:nth-child(1) {
        flex: 0 0 60%;
        background: linear-gradient(rgba(90, 87, 78, .9));
        padding: 0 0 0 60px;
        height: 300px;
        color: $white;
        @include flex(center, flex-start,column);
        @media (max-width:767px) {
            flex: 0 0 100%;
        }
        h4 {
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 30px;
        }
        p {
            font-weight: 600;
        }
    }
    article:nth-child(2) {
        flex: 0 0 40%;
        background: linear-gradient(rgba(248, 160, 85, .9));
        padding: 0 0 0 60px;
        color: $white;
        @include flex(center, flex-start,column);
        @media (max-width:767px) {
            flex: 0 0 100%;
            padding: 0 0 0 30px;
        }
        h2 {
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
        li {
            font-weight: 600;
            .fas {
                text-shadow: 0 0 2px $black;
            }
        }
    }
    article:last-child {
        flex: 0 0 100%;
        text-align: center;
        padding: 15px 0;
        @media (max-width:767px) {
            padding: 40px 0;
        }
        a {
            color: $orange;
            font-weight: 600;
            transition: $transition;
            &:hover {
                text-shadow: 0 0 1px $black;
            }
        }
    }
}