@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");

/***************
VARIABLES
***************/
$fontFamily: "Open Sans", sans-serif;
$fontSize: 16px;
$orange: #f8a055;
$black: #221f1a;
$gray: #5a574e;
$green: #988d51;
$white: #fff;
$transition: 0.4s ease;
$padding: 70px 0;
$textShadow: 0 0 2px $black;

/***************
BASIC STYLES
***************/
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.7;
    color: $black;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    display: block;
}
.container {
    width: 80%;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 90%;
    }
}
/* button {
    @include btn($orange);
} */

/***************
MIXINS
***************/
@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin bgBasic($position: center, $size: cover) {
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;
    height: 80vh;
}
@mixin btn($bgColor) {
    font-family: $fontFamily;
    text-transform: uppercase;
    color: $black;
    background-color: $bgColor;
    letter-spacing: 3px;
    border: none;
    font-size: 0.8rem;
    margin-top: 20px;
    font-weight: 600;
    padding: 15px 30px;
    cursor: pointer;
    transition: $transition;
    &:hover {
        background-color: $green;
    }
}

/***************
NAV
***************/
nav {
    @include flex(space-between, center);
    padding: 15px 0;
    .logo {
        color: $orange;
        font-weight: 800;
        font-size: 2rem;
        line-height: 1;
        span {
            font-weight: 400 !important;
            font-style: italic !important;
            color: $black;
        }
    }
    ul {
        @include flex(space-between, center);
        li {
            margin-left: 60px;
            font-size: 1rem;
            font-weight: 600;
            padding: 10px;
            a {
                color: $black;
                transition: $transition;
                transform: scale(120%);
            }
        }
        li:first-child {
            margin-left: 0px;
        }
    }
}

/***************
INDEX HEADER
***************/
.indexHeader {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .99), rgba(255, 255, 255, .2)), url(img/header.jpg);
    @include bgBasic;
    article {
        @include flex(center, flex-start, column);
        height: 100%;
        hgroup {
            width: 50%;
            background: linear-gradient(rgba(255, 255, 255, .5));
            padding: 50px;
            h1 {
                color: $orange;
                font-size: 3rem;
                text-shadow: 0 0 2px $black;
            }
            h4 {
                font-weight: 400;
            }
            button {
                @include btn($orange);
            }
        }
    }
}

/***************
ABOUT
***************/
.about {
    padding: $padding;
    @include flex(space-between, center);
    article {
        flex: 0 0 48%;
        h2 {
            font-size: 3rem;
            font-weight: 800;
            span {
                font-size: 3rem;
                font-weight: 400;
            };
        }
        h3 {
            color: $orange;
            font-size: 5rem;
            text-shadow: 0 0 3px $gray;
        }
        h4 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 30px;
        }
    }
}